<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title><%= "#{@title} | #{SITE_TITLE}" %></title>
	<link href="/sample.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">
	<script type="text/javascript"  src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
	<%= "#{@additional_js}" %>
</head>
<body>
<div id="masthead">
      <div id="masthead-content">
        <img src="https://meraki.cisco.com/img/cisco-meraki.png"/>
      </div>
    </div>

  <header>
    <hgroup>
      <h1><a href="/"><%= SITE_TITLE %></a></h1>
    </hgroup>
  </header>
 
  <div id="main">
	<% if flash[:notice] %>
    		<p class="notice"><%= flash[:notice] %>
	<% end %>
 
	<% if flash[:error] %>
    		<p class="error"><%= flash[:error] %>
	<% end %>
    <%= yield %>
  </div>
 
  <footer>
    <span>An app for <a href="http://meraki.cisco.com">Cisco Meraki Support</a>.</span>
  </footer>
</body>
</html>
